* {
  box-sizing: border-box;
  outline: 1px red dashed;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  color: white;
}

header,
footer {
  background-color: rgb(62, 62, 62);
  text-align: center;
  padding: 1rem;
}

main {
  flex: 1;
  display: flex;
  /* background-color: orange; */
}

aside {
  flex: 1;
  padding: 1rem;
  /* background-color: rgb(209, 169, 94); */
  background-image: url("../..assets/winter_cluster.png");
}

.aside_div {
  /* background-color: red; */
  /* background-image: url("../../assets/winter_cluster.png"); */
}
section {
  flex: 5;
  display: flex;
  /* padding: 1rem; */
  /* flex-direction: column; */
}

.section_div {
  padding: 1rem;
  flex: 1;
  background-color: rgb(212, 158, 59);
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  aside {
    order: -1;
  }
}
